---
const lang = 'astro'
---

<h2 class="p-2 font-serif text-2xl text-black">hello world - {lang}</h2>
<button class="btn mt-2" id="confetti-button">click it</button>

<script>
  import confetti from 'canvas-confetti'
  import { fromEvent, Subscription, switchMap, tap } from 'rxjs'
  import { getWindow } from '~/lib/services/layout.service'
  import { mountVTSwap, unmountVTSwap } from '~/lib/services/view-transition'

  let subs: Subscription[] = []

  const init = () => {
    const btnEventSub = getWindow()
      .pipe(
        switchMap((w) => {
          const btn = w.document.getElementById('confetti-button')
          return fromEvent(btn!, 'click')
        }),
        tap((e) => {
          console.log('confetti...')
          confetti()
        }),
      )
      .subscribe()

    subs.push(btnEventSub)
  }

  mountVTSwap('/', () => {
    init()
  })

  unmountVTSwap('/', () => {
    subs.forEach((sub) => sub.unsubscribe())
    subs = []
  })
</script>

<style></style>
