---
import '~/styles/global.css'
import Main from '~/layouts/main.astro'
import Env from '~/lib/components/env.svelte'
import HelloWorldComp from '~/lib/components/hello-world.svelte'

type Props = {}
const {} = Astro.props
---

<Main title="Home">
  <HelloWorldComp client:load />
  <hr />
  <Env client:only />
</Main>

<style></style>
