---
import '~/styles/global.css'
import Main from '~/layouts/main.astro'
// import Env from '~/lib/components/env.svelte'
// import HelloWorldComp from '~/lib/components/hello-world.svelte'
import { HelloWorldComponent as HelloWorldComp } from '~/lib/components/ng/hello-world.component'

type Props = {}
const {} = Astro.props
---

<Main title="Home">
  <HelloWorldComp client:load />
</Main>

<style></style>
