---
import '~/styles/global.css'
import Main from '~/layouts/main.astro'
import Env from '~/lib/components/env.svelte'
import HelloWorldSvelte from '~/lib/components/hello-world.svelte'

type Props = {}
const {} = Astro.props
---

<Main title="Home">
  <HelloWorldSvelte client:load />
  <hr class="my-4 w-full border border-gray-400" />
  <Env client:only />
</Main>

<style></style>
