---
import '~/styles/global.css'
import Main from '~/layouts/main.astro'
import Env from '~/lib/components/env.astro'
import HelloWorldComp from '~/lib/components/hello-world.astro'

type Props = {}
const {} = Astro.props
---

<Main title="Home">
  <HelloWorldComp />
  <hr />
  <Env />
</Main>

<style></style>
