---
import Main from '~/layouts/main.astro'
import { getRandomInt } from '~/lib/common/util'

export const prerender = false

const num = getRandomInt(1, 990)

const res = await fetch(`http://localhost:4321/api/${num}`)
const { info } = await res.json()

const userName = Astro.locals.user.name
---

<Main title="ssr">
  <div>username: {userName}</div>
  <div>info: {JSON.stringify(info)}</div>
</Main>

<style></style>
